<div class="user-list">
    <h2>Users</h2>
    <div *ngIf="loading" class="loader">
      Loading users...
    </div>
    <app-filter [form]="userFilterForm" (onSubmit)="onSubmit($event)">
      <app-form-input
          type="text"
          placeholder="Filter by user full name"
          [name]="formField.fullName.name"
          [form]="userFilterForm"
          [formField]="formField"
          class="form-control bg-dark text-white border-secondary">
      </app-form-input>
      <app-form-input
          type="text"
          placeholder="Filter by role"
          [name]="formField.role.name"
          [form]="userFilterForm"
          [formField]="formField"
          class="form-control bg-dark text-white border-secondary">
      </app-form-input>
      <div class="d-grid gap-2">
        <app-form-button title="Apply Filters" submit class="btn btn-primary btn-block text-white" style="background-color: #2980b9; border: none;"></app-form-button>
      </div>  
    </app-filter>

    <div *ngFor="let user of status.users" class="user-item">
      <app-user-item [user]="user"></app-user-item>
    </div>
    <app-pagination
      [pageNumber]="pageNumber"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
