<div class="business-list d-flex flex-column container justify-content-center align-items-center">
    <h1>Businesses</h1>
    <div *ngIf="loading" class="loader">
      Loading businesses...
    </div>
    <app-filter [form]="businessFilterForm" (onSubmit)="onSubmit($event)" style="width: 85%;">
      <app-form-input
          type="text"
          placeholder="Filter by business name"
          [name]="formField.businessName.name"
          [form]="businessFilterForm"
          [formField]="formField"
          >
      </app-form-input>
      <app-form-input
          type="text"
          placeholder="Filter by business owner full name"
          [name]="formField.fullName.name"
          [form]="businessFilterForm"
          [formField]="formField"
          style="width: 25%;"
          >
      </app-form-input>
      <div class="d-grid gap-2">
        <app-form-button title="Apply Filters" submit></app-form-button>
      </div>  
    </app-filter>
    <div *ngFor="let business of status.businesses" class="business-item">
      <app-business-item [business]="business"></app-business-item>
    </div>
    <app-pagination
      [pageNumber]="pageNumber"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
