<div class="business-list">
    <h2>Businesses</h2>
    <div *ngIf="loading" class="loader">
      Loading businesses...
    </div>
    <app-filter [form]="businessFilterForm" (onSubmit)="onSubmit($event)">
      <app-form-input
          type="text"
          placeholder="Filter by business name"
          [name]="formField.businessName.name"
          [form]="businessFilterForm"
          [formField]="formField"
          class="form-control bg-dark text-white border-secondary">
      </app-form-input>
      <app-form-input
          type="text"
          placeholder="Filter by business owner full name"
          [name]="formField.fullName.name"
          [form]="businessFilterForm"
          [formField]="formField"
          class="form-control bg-dark text-white border-secondary">
      </app-form-input>
      <div class="d-grid gap-2">
        <app-form-button title="Apply Filters" submit class="btn btn-primary btn-block text-white" style="background-color: #2980b9; border: none;"></app-form-button>
      </div>  
    </app-filter>
    <div *ngFor="let business of status.businesses" class="business-item">
      <app-business-item [business]="business"></app-business-item>
    </div>
    <app-pagination
      [pageNumber]="pageNumber"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
