<h1 class="text-center my-4 text-black">New home name</h1>

<div class="container d-flex justify-content-center">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px; background-color: #fffffe; border: none;">
      <app-form [form]="homeNameForm" (onSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="name" class="form-label">Name</label>
          <app-form-input
              type="text"
              placeholder="New home name"
              [name]="formField.name.name"
              [form]="homeNameForm"
              [formField]="formField"
               />
        </div>
        <div *ngIf="homeNameStatus">
          <div *ngIf="homeNameStatus.error" >
            <br>
            <div class="alert alert-danger" *ngIf="homeNameStatus.error !== ''">
                <p>{{ homeNameStatus.error }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="homeNameStatus">
          <div *ngIf="homeNameStatus.success" >
            <br>
            <div class="alert alert-success" *ngIf="homeNameStatus.success !== ''">
                <p>{{ homeNameStatus.success }}</p>
            </div>
          </div>
        </div>

        <div class="d-grid gap-2">
          <app-form-button submit title= "Confirm new name"></app-form-button>
        </div>
      </app-form>
    </div>
  </div>
  
  