.device-list .card {
    height: 100%;
  }
  
  .device-list .card-img-top {
    max-height: 200px;
    overflow: hidden;
  }
  
  .device-list .card-body {
    text-align: center;
  }
  .device-list{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .devices{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  