<h1 class="text-center my-4 text-black">Home Details:</h1>
<div class="d-flex flex-column justify-content-center align-items-center ">
  <div class="info-section d-flex flex-row gap-4">
    <div class="info-row">
        <label>Name:</label>
        <span>{{ home?.name }}</span>
      </div>
    <div class="info-row">
      <label>MainStreet:</label>
      <span>{{ home?.mainStreet }}</span>
    </div>
    
    <div class="info-row">
      <label>DoorNumber:</label>
      <span>{{ home?.doorNumber }}</span>
    </div>
  </div>
  <div class="button-section d-flex gap-1 mt-3">
    <div>
      <button class="btn btn-outline-dark" (click)="AddHomeMembers()">Add Members</button>
    </div>
    <div>
      <button class="btn btn-outline-dark" (click)="GetHomeMembers()">Members</button>
    </div>
    <div>
      <button class="btn btn-outline-dark" (click) = "AddDeviceToHome()">Add device</button>
    </div>
    <div>
      <button class="btn btn-outline-dark" (click) = "GetHomeDevices()">Home devices</button>
    </div>
    <div>
      <button class="btn btn-outline-dark" (click) = "CreateRoom()">Create room</button>
    </div>
    <div>
      <button class="btn btn-outline-dark" (click) = "GetRooms()">Show Rooms</button>
    </div>
    <div>
      <button class="btn btn-outline-dark" (click) = "UpdateHomeName()">Update home name</button>
    </div>
  </div>


<div *ngIf="showMembers && homeId">
    <app-home-members-list [homeId]="homeId"></app-home-members-list>
</div>
<div *ngIf="showDeviceList">
    <app-device-list [homeId]="homeId ?? null" [isAddingDevice] = "isAddingDevice" (deviceAdded)="onDeviceAdded()"></app-device-list>
  </div>
  <div *ngIf="showHomeDevicesList">
    <app-home-device-list [homeId]="homeId ?? null"></app-home-device-list>
  </div>
  <div *ngIf="showRoomForm">
    <app-room-form 
      [homeId]="homeId ?? null"
    ></app-room-form>
  </div>
  <div *ngIf="showRooms">
    <app-room-list [homeId]="homeId ?? null"></app-room-list>
  </div>
  <div *ngIf="showAddMembers">
    <app-home-add-member
    [homeId]="homeId ?? null"
    />
  </div>
  <div *ngIf="showHomeNameForm">
    <app-home-name-form 
      [homeId]="homeId ?? null"
      (nameUpdated)="onNameUpdated($event)">
    </app-home-name-form>
  </div>


</div>
