<div class="mt-4 home-devices-list d-flex flex-column container justify-content-center align-items-center">
    <h3>Home Devices</h3>
    <div *ngIf="loading" class="loader">
      Loading home devices...
    </div>
    <app-filter [form]="roomFilterForm" (onSubmit)="onSubmit($event)">
      <app-form-input
          type="text"
          placeholder="Filter by room"
          [name]="formField.room.name"
          [form]="roomFilterForm"
          [formField]="formField">
      </app-form-input>
      <div class="d-grid gap-2">
        <app-form-button title="Apply Filters" submit ></app-form-button>
      </div>  
    </app-filter>
  </div>
  <div *ngFor="let homeDevice of status.homeDevices" class="device-item col-md-4 mb-4">
    <app-home-device-item 
    [homeDevice]="homeDevice"
    [roomId]="roomId"
    [isAddingToRoom]="isAddingDeviceToRoom"
    (homeDeviceAdded)="onHomeDeviceAdded($event)"
    ></app-home-device-item>
  </div>
