<div>
  <a
  class="btn btn-outline-dark m-1 mt-3 ms-3" 
  routerLink="/admins"
  routerLinkActive="active"
  >Go back</a>
</div>

<h1 class="text-center my-4 text-black">Register Admin</h1>

<div class="container d-flex justify-content-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px; background-color: #ffffffe3; border: none;">
    <app-form [form]="adminForm" (onSubmit)="onSubmit($event)">
      <!-- Admin Name input -->
      <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <app-form-input
            type="text"
            placeholder="Admin Name"
            [name]="formField.name.name"
            [form]="adminForm"
            [formField]="formField"
            class="" />
      </div>

      <!-- Admin Surname input -->
      <div class="form-group mb-3">
        <label for="surname" class="form-label">Surname</label>
        <app-form-input
            type="text"
            placeholder="Admin Surname"
            [name]="formField.surname.name"
            [form]="adminForm"
            [formField]="formField"
            class="" />
      </div>

      <!-- Admin Email input -->
      <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <app-form-input
            type="text"
            placeholder="Email"
            [name]="formField.email.name"
            [form]="adminForm"
            [formField]="formField"
            class="" />
      </div>

      <!-- Password input -->
      <div class="form-group mb-3">
        <label for="password" class="form-labele">Password</label>
        <app-form-input
            type="text"
            placeholder="Password"
            [name]="formField.password.name"
            [form]="adminForm"
            [formField]="formField"
            class="">
        </app-form-input>
      </div>

      <div *ngIf="adminStatus">
        <div *ngIf="adminStatus.error" >
          <br>
          <div class="alert alert-danger" *ngIf="adminStatus.error !== ''">
              <p>{{ adminStatus.error }}</p>
          </div>
        </div>
      </div>

      <div class="d-grid gap-2">
        <app-form-button submit title="Register Admin" ></app-form-button>
      </div>
    </app-form>
  </div>
</div>

