<div *ngIf="userLogged" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <!-- Elementos alineados a la izquierda -->
        <div class="navbar-nav">
            <a
                class="nav-link" 
                routerLink="/admins"
                routerLinkActive="active"
                *ngIf="userLogged.systemPermissions.includes('List all accounts')">Users</a>
            <a
                class="nav-link" 
                routerLink="/admins/businesses"
                routerLinkActive="active"
                *ngIf="userLogged.systemPermissions.includes('List all businesses')">Businesses</a>
            <a
                class="nav-link" 
                routerLink="/businessOwners/"
                routerLinkActive="active"
                *ngIf="userLogged.systemPermissions.includes('Create device')">Devices</a>
            <a
                class="nav-link" 
                routerLink="/businessOwners/registerBusiness"
                routerLinkActive="active"
                *ngIf="userLogged.systemPermissions.includes('Create business')">Register Business</a>
            <a
                class="nav-link" 
                routerLink="/homeOwners/"
                routerLinkActive="active"
                *ngIf="userLogged.systemPermissions.includes('List all users homes')">My Homes</a>
            <a
                class="nav-link" 
                routerLink="/homeOwners/notifications"
                routerLinkActive="active"
                *ngIf="userLogged.systemPermissions.includes('List all users notifications')">Notifications</a>
        </div>

        <!-- Elemento alineado a la derecha -->
        <div class="d-flex">
            <div *ngIf="userLogged.systemPermissions.includes('List all accounts') && !userLogged.systemPermissions.includes('List all users homes')">
                <button (click)="addHomeOwnerPermissionsToAdmin()" >Add home owner permissions</button>
            </div>
            <div *ngIf="userLogged.systemPermissions.includes('Create device') && !userLogged.systemPermissions.includes('List all users homes')">
                <button (click)="addHomeOwnerPermissionsToBusinessOwner()" >Add home owner permissions</button>
            </div>
            <button (click)="logOut()"  class="nav-link text-danger" >LogOut</button>
        </div>
    </div>
</div>
