<div *ngIf="homeMember" class="home-member-item">
    <p>Name: {{ homeMember.name }}</p>
    <div class="permissions-list">
      <p>Permissions:</p>
      <ul>
        <li *ngFor="let permission of homeMember.homePermissions">
          {{ permission }}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <button class="btn btn-outline-dark" (click) = "UpdateHomePermissions()">Update permissions</button>
  </div>
  <div *ngIf="showHomePermissionsCheckbox">
    <app-home-permissions-checkbox 
      [value]="homeMember?.homePermissions || []"
      [homeMemberId]="homeMember?.homeMemberId || ''"
      (valueChange)="onPermissionsChange($event)">
    </app-home-permissions-checkbox>
  </div>

