<div *ngIf="deviceStatus">
  <div *ngIf="deviceStatus.loading">
    <app-loading></app-loading>
  </div>
</div>

<div>
  <a
  class="btn btn-outline-dark m-1 mt-3 ms-3" 
  routerLink="/businessOwners/importDevices"
  routerLinkActive="active"
  >Import multiple devices</a>
</div> 

<h1 class="text-center my-4 text-black">Register Device</h1>

<div class="container d-flex justify-content-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px; background-color: #ffffffe3; border: none;">
    <app-form [form]="deviceForm" (onSubmit)="onSubmit($event)">
      <!-- Device Name -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="name" class="form-label ">Device's Name</label>
        <app-form-input
          type="text"
          placeholder="Device's Name"
          [name]="formField.name.name"
          [form]="deviceForm"
          [formField]="formField">
        </app-form-input>
      </div>

      <!-- ModelNumber input -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="modelNumber" class="form-label ">Model Number</label>
        <app-form-input
          type="text"
          placeholder="AAAAAA-0000"
          [name]="formField.modelNumber.name"
          [form]="deviceForm"
          [formField]="formField">
        </app-form-input>
      </div>

      <!-- Description inputs -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="description" class="form-label">Device description</label>
        <app-form-input
          type="text"
          placeholder="This device...."
          [name]="formField.description.name"
          [form]="deviceForm"
          [formField]="formField">
        </app-form-input>
      </div>

      <!-- Device type -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="deviceType" class="form-label">Select Device Type</label>
          <app-device-type-dropdown 
          (valueChange)="onDeviceTypeChange($event)"/>
      </div>

      <!-- Campo de Fotografías -->



      <!-- Security Camera optional values -->

      <div *ngIf="typeAux == 'Security Camera'" class="mt-3">
        <h5 class="text-white mb-3">Security Camera Features</h5>
        
        <div class="row g-3">
          <!-- Person Detection -->
          <div class="col-6">
            <div [formGroup] = "deviceForm" class="form-check">
              <input 
                type="checkbox"
                class="form-check-input bg-dark border-secondary"
                id="personDetection"
                formControlName="{{ formField.personDetection.name }}"
              >
              <label class="form-check-label" for="personDetection">
                Person Detection
              </label>
            </div>
          </div>
      
          <!-- Movement Detection -->
          <div class="col-6">
            <div [formGroup] = "deviceForm" class="form-check">
              <input 
                type="checkbox"
                class="form-check-input bg-dark border-secondary"
                id="movementDetection"
                formControlName="{{ formField.movementDetection.name }}"
              >
              <label class="form-check-label" for="movementDetection">
                Movement Detection
              </label>
            </div>
          </div>
      
          <!-- Indoor -->
          <div class="col-6">
            <div [formGroup] = "deviceForm" class="form-check">
              <input 
                type="checkbox"
                class="form-check-input bg-dark border-secondary"
                id="indoor"
                formControlName="{{ formField.indoor.name }}"
              >
              <label class="form-check-label" for="indoor">
                Indoor
              </label>
            </div>
          </div>
      
          <!-- Outdoor -->
          <div class="col-6">
            <div [formGroup] = "deviceForm" class="form-check">
              <input 
                type="checkbox"
                class="form-check-input bg-dark border-secondary"
                id="outdoor"
                formControlName="{{ formField.outdoor.name }}"
              >
              <label class="form-check-labele" for="outdoor">
                Outdoor
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Photos -->    
        
      <label for="photos" class="form-label">Photos</label>
        
      <div *ngFor="let control of photoControls; let i = index" class="mb-3">
        <div class="input-group">
          <app-form-input
            type="text"
            placeholder="URL de la foto"
            [name]="getPhotoFormField(i).name"
            [form]="deviceForm"
            [formField]="getPhotoFormField(i)"
            >
          </app-form-input>
          <button
            type="button"
            (click)="removePhoto(i)"
            class="btn btn-danger ms-2"
            [disabled]="photos.length === 1">
            Quitar
          </button>
        </div>
      </div>
    
      <button
        type="button"
        (click)="addPhoto()"
        class="btn btn-primary mt-3">
        Agregar otra foto
      </button>      

      <!-- Registerbutton -->
      <div class="d-grid mt-3 gap-2">
        <app-form-button title="Register Device" submit ></app-form-button>
      </div>
    </app-form>
  </div>
</div>