<div *ngIf="homeDevice" class="home-device-item">
    <p>Name: {{ homeDevice.name }}</p>
    <p>Device Type: {{ homeDevice.type }}</p>
    <p>Online: {{ homeDevice.online }}</p>
    <p *ngIf="homeDevice.isOn !== null">Is on?: {{ homeDevice.isOn }}</p>
    <p *ngIf="homeDevice.open !== null">Is open?: {{ homeDevice.open }}</p>
    <button (click) = "ChangeHomeDeviceName(homeDevice.hardwardId)">Change name</button>
    <button (click) = "CreateNotification(homeDevice.hardwardId)">Create notification</button>
    <ng-content></ng-content>
  </div>
  <div *ngIf="showHomeDeviceNameForm">
    <app-home-device-name
      [homeDeviceId]="homeDevice?.hardwardId ?? null"
      (homeDeviceNameUpdated)="onHomeDeviceNameUpdated($event)">
    </app-home-device-name>
  </div>
  <button *ngIf="isAddingToRoom" (click)="addDeviceToRoom()" class="btn btn-primary">Add to Room</button>

