<div class="container mt-5 d-flex justify-content-center align-items-center flex-column">
    <div class="">
        <div class="col-12 text-center">
            <h1 class="display-5">Welcome to SmartHome!</h1>
        </div>
    </div>
    <div class="students d-flex flex-row gap-5 mt-5">
        <div class="tomas">
            <h2>Tomás Zelaschi</h2>
            <h4>281344</h4>
        </div>
        <div class="martin">
            <h2>Martin Felder</h2>
            <h4>248264</h4>
        </div>
        <div class="pedro">
            <h2>Pedro Azambuja</h2>
            <h4>270218</h4>
        </div>
    </div>
</div>
