<h1 class="text-center my-4 text-black">Register Device</h1>

<div class="container d-flex justify-content-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px; background-color: #ffffffe3; border: none;">
    <app-form [form]="deviceForm" (onSubmit)="onSubmit($event)">
      <!-- Device Name -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="name" class="form-label ">Device's Name</label>
        <app-form-input
          type="text"
          placeholder="Device's Name"
          [name]="formField.name.name"
          [form]="deviceForm"
          [formField]="formField">
        </app-form-input>
      </div>

      <!-- ModelNumber input -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="modelNumber" class="form-label ">Model Number</label>
        <app-form-input
          type="text"
          placeholder="AAAAAA-0000"
          [name]="formField.modelNumber.name"
          [form]="deviceForm"
          [formField]="formField">
        </app-form-input>
      </div>

      <!-- Description inputs -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="description" class="form-label">Device description</label>
        <app-form-input
          type="text"
          placeholder="This device...."
          [name]="formField.description.name"
          [form]="deviceForm"
          [formField]="formField">
        </app-form-input>
      </div>

      <!-- Device type -->
      <div class="form-group mb-3 d-flex flex-column">
        <label for="deviceType" class="form-label">Select Device Type</label>
          <app-device-type-dropdown />
      </div>

      <!-- Campo de Fotografías -->

      <!-- Registerbutton -->
      <div class="d-grid mt-3 gap-2">
        <app-form-button title="Register Device" submit ></app-form-button>
      </div>
    </app-form>
  </div>
</div>