<div *ngIf="device" class="card device-item">
    <div class="card-img-top image-container">
      <app-photos-carousel [photos]="device.photos"></app-photos-carousel>
    </div>
    <div class="card-body" *ngIf="device">
      <h3 class="card-title">{{ device.name }}</h3>
      <p class="card-text">Model Number: {{ device.modelNumber }}</p>
      <p class="card-text">Description: {{ device.description }}</p>
      <p class="card-text">Company Name: {{ device.companyName }}</p>
      <div *ngIf="added" class="alert alert-success">
        <p>Device added to home successfully</p>
    </div>
      <button *ngIf="isAddingToHome" (click)="addToHome()" class="btn btn-secondary btn-sm mb-1 w-100">Add to Home</button>
    </div>
  </div>