<h1>Bienvenido a SmartHomeApp</h1>

<app-form [form]="loginForm" (onSubmit)="onSubmit($event)">
  <app-form-input
    type="text"
    placeholder="email@example.com"
    [name]="formField.email.name"
    [form]="loginForm"
    [formField]="formField" />

  <app-form-input
    type="password"
    placeholder="*****"
    [name]="formField.password.name"
    [form]="loginForm"
    [formField]="formField" />

  <app-form-button title="Login" />

  <app-form-button title="Register" (click)="goToRegister()"/>
</app-form>
