<div *ngIf="status.loading; else finishLoading">
    Loading home permissions...
  </div>
  <ng-template #finishLoading>
    <div *ngIf="status.error; else showDropdown">
      <p>{{ status.error }}</p>
    </div>
    <ng-template #showDropdown>
      <app-dropdown
        [options]="status.homePermissions"
        [value]="value"
        placeholder="Select home permission"
        emptyMessage="No home permissions loaded" 
        (valueChange)="onChange($event)"/>
    </ng-template>
  </ng-template>
  
