<div *ngIf="!status.loading; else loadingTemplate">
  <div *ngIf="status.error; else showCheckboxes">
    <p>{{ status.error }}</p>
  </div>
  <ng-template #showCheckboxes>
    <div class="form-check">
      <input 
        type="checkbox"
        class="form-check-input"
        id="addMemberPermission"
        [checked]="isChecked('addMemberPermission')"
        (change)="onChange('addMemberPermission')"
        [disabled]="status.loading"
        name="permissionCheckbox">
      <label class="form-check-label" for="addMemberPermission">
        Add Members Permission
      </label>
    </div>

    <div class="form-check">
      <input 
        type="checkbox"
        class="form-check-input"
        id="addDevicePermission"
        [checked]="isChecked('addDevicePermission')"
        (change)="onChange('addDevicePermission')"
        [disabled]="status.loading"
        name="permissionCheckbox">
      <label class="form-check-label" for="addDevicePermission">
        Add Devices Permissions
      </label>
    </div>

    <div class="form-check">
      <input 
        type="checkbox"
        class="form-check-input"
        id="listDevicesPermission"
        [checked]="isChecked('listDevicesPermission')"
        (change)="onChange('listDevicesPermission')"
        [disabled]="status.loading"
        name="permissionCheckbox">
      <label class="form-check-label" for="listDevicesPermission">
        List Permissions
      </label>
    </div>

    <div class="form-check">
      <input 
        type="checkbox"
        class="form-check-input"
        id="notificationsPermission"
        [checked]="isChecked('notificationsPermission')"
        (change)="onChange('notificationsPermission')"
        [disabled]="status.loading"
        name="permissionCheckbox">
      <label class="form-check-label" for="notificationsPermission">
        Recibe Notifications
      </label>
    </div>
  </ng-template>
</div>
<ng-template #loadingTemplate>
  <div>Loading permissions...</div>
</ng-template>
<button (click)="saveSelectedPermissions()" [disabled]="status.loading">
  Save selected permissions
</button>
