<div *ngIf="!status.loading; else loadingTemplate">
  <div *ngIf="status.error">
    <p class="text-danger">{{ status.error }}</p>
  </div>
  
  <div class="form-check">
    <input 
      type="checkbox"
      class="form-check-input"
      id="AddMemberPermission"
      [checked]="isChecked('addMemberPermission')"
      (change)="onChange('addMemberPermission')"
      [disabled]="status.loading"
      name="permissionCheckbox">
    <label class="form-check-label" for="AddMemberPermission">
      Add Members
    </label>
  </div>

  <div class="form-check">
    <input 
      type="checkbox"
      class="form-check-input"
      id="AddDevicePermission"
      [checked]="isChecked('addDevicePermission')"
      (change)="onChange('addDevicePermission')"
      [disabled]="status.loading"
      name="permissionCheckbox">
    <label class="form-check-label" for="AddDevicePermission">
      Add Devices
    </label>
  </div>

  <div class="form-check">
    <input 
      type="checkbox"
      class="form-check-input"
      id="ListDevicesPermission"
      [checked]="isChecked('listDevicesPermission')"
      (change)="onChange('listDevicesPermission')"
      [disabled]="status.loading"
      name="permissionCheckbox">
    <label class="form-check-label" for="ListDevicesPermission">
      List Devices
    </label>
  </div>

  <div class="form-check">
    <input 
      type="checkbox"
      class="form-check-input"
      id="NotificationsPermission"
      [checked]="isChecked('notificationsPermission')"
      (change)="onChange('notificationsPermission')"
      [disabled]="status.loading"
      name="permissionCheckbox">
    <label class="form-check-label" for="NotificationsPermission">
      Receive Notifications
    </label>
  </div>

  <button class="btn btn-primary mt-3" (click)="saveSelectedPermissions()" [disabled]="status.loading">
    {{ status.loading ? 'Saving...' : 'Save permissions' }}
  </button>
</div>

<ng-template #loadingTemplate>
  <div>Saving permissions...</div>
</ng-template>
