<div *ngIf="!status.loading; else loadingTemplate">
  <div *ngIf="status.error; else showCheckboxes">
    <p>{{ status.error }}</p>
  </div>
  <ng-template #showCheckboxes>
    <div *ngIf="status.homePermissions.length > 0">
      <div *ngFor="let permission of status.homePermissions" class="form-check">
        <input 
          type="checkbox"
          class="form-check-input"
          [id]="permission.value"
          [value]="permission.value" 
          [checked]="isChecked(permission.value)"
          (change)="onChange(permission.value)"
          [disabled]="status.loading"
          name="permissionCheckbox">
        <label class="form-check-label" [for]="permission.value">
          {{permission.label}}
        </label>
      </div>
    </div>
    <div *ngIf="status.homePermissions.length === 0">
      <p>No hay permisos cargados</p>
    </div>
  </ng-template>
</div>
<ng-template #loadingTemplate>
  <div>Cargando permisos...</div>
</ng-template>
<button (click)="saveSelectedPermissions()" [disabled]="status.loading">
  Guardar Permisos Seleccionados
</button>
