<div *ngIf="roomStatus">
  <div *ngIf="roomStatus.loading">
    <app-loading></app-loading>
  </div>
</div>
<h1 class="text-center my-4 text-black">Register Room</h1>

<div class="container d-flex justify-content-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px; background-color: #fffffe; border: none;">
    <app-form [form]="roomForm" (onSubmit)="onSubmit($event)">
      <div class="form-group mb-3">
        <label for="name" class="form-label ">Name</label>
        <app-form-input
            type="text"
            placeholder="Name"
            [name]="formField.name.name"
            [form]="roomForm"
            [formField]="formField"
            class="" />
      </div>
      <div *ngIf="roomStatus">
        <div *ngIf="roomStatus.error" >
          <br>
          <div class="alert alert-danger" *ngIf="roomStatus.error !== ''">
              <p>{{ roomStatus.error }}</p>
          </div>
        </div>
        <div *ngIf="roomStatus.success" class="alert alert-success" >
          <br>
              <p>Room created successfully</p>
        </div>
      </div>
      <div class="d-grid gap-2">
        <app-form-button submit title= "Add Room" ></app-form-button>
      </div>
    </app-form>
  </div>
</div>

