<h1 class="text-center my-4 text-black">Create Home</h1>

<div class="container d-flex justify-content-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px; background-color: #2c3e50; border: none;">
    <app-form [form]="homeForm" (onSubmit)="onSubmit($event)">
      <div class="form-group mb-3">
        <label for="name" class="form-label text-white">Name</label>
        <app-form-input
            type="text"
            placeholder="Home Name"
            [name]="formField.name.name"
            [form]="homeForm"
            [formField]="formField"
            class="form-control mb-3" />
      </div>

      <div class="form-group mb-3">
        <label for="rut" class="form-label text-white">Main street</label>
        <app-form-input
            type="text"
            placeholder="Main street"
            [name]="formField.mainStreet.name"
            [form]="homeForm"
            [formField]="formField"
            class="form-control border-secondary">
        </app-form-input>
      </div>

      <div class="form-group mb-3">
        <label for="logo" class="form-label text-white">Door number</label>
        <app-form-input
          type="text"
          placeholder="Door number"
          [name]="formField.doorNumber.name"
          [form]="homeForm"
          [formField]="formField"
          class="form-control bg-dark text-white border-secondary">
        </app-form-input>
      </div>

      <div class="form-group mb-3">
        <label for="logo" class="form-label text-white">Latitude</label>
        <app-form-input
          type="text"
          placeholder="Latitude"
          [name]="formField.latitude.name"
          [form]="homeForm"
          [formField]="formField"
          class="form-control bg-dark text-white border-secondary">
        </app-form-input>
      </div>

        <div class="form-group mb-3">
            <label for="logo" class="form-label text-white">Longitude</label>
            <app-form-input
              type="text"
              placeholder="Longitude"
              [name]="formField.longitude.name"
              [form]="homeForm"
              [formField]="formField"
              class="form-control bg-dark text-white border-secondary">
            </app-form-input>
        </div>

        <div class="form-group mb-3">
            <label for="logo" class="form-label text-white">MaxMembers</label>
            <app-form-input
              type="number"
              placeholder="MaxMembers"
              [name]="formField.maxMembers.name"
              [form]="homeForm"
              [formField]="formField"
              class="form-control bg-dark text-white border-secondary">
            </app-form-input>
        </div>

        

      <div class="d-grid gap-2">
        <app-form-button submit title= "Create Home" class="btn btn-primary btn-block text-white" style="background-color: #2980b9; border: none;"></app-form-button>
      </div>
    </app-form>
  </div>
</div>

