<h1 class="text-center my-4 text-black">New home device name</h1>

<div class="container d-flex justify-content-center">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px; background-color: #fffffe; border: none;">
      <app-form [form]="homeDeviceNameForm" (onSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="name" class="form-label">Name</label>
          <app-form-input
              type="text"
              placeholder="New home device name"
              [name]="formField.name.name"
              [form]="homeDeviceNameForm"
              [formField]="formField" />
        </div>

        <div class="d-grid gap-2">
          <app-form-button submit title= "Confirm new name" ></app-form-button>
        </div>
      </app-form>
    </div>
  </div>
